<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>  
      <add name="ConnectionStringMsSql" connectionString="Server=dbsys.cs.vsb.cz\STUDENT;Database=kru0142;User Id=kru0142;Password = BEC3Q9uGP3;" />  
    </connectionStrings>  
</configuration>